.icon {
    &-tick {
        content: url('../assets/icons/tick.svg');
    }

    &-linked-in {
        content: url('../assets/icons/linked-in.svg');
    }

    &-close {
        content: url('../assets/icons/close.svg');
    }

    &-facebook {
        content: url('../assets/icons/facebook.svg');
    }

    &-twitter {
        content: url('../assets/icons/twitter.svg');
    }

    &-youtube {
        content: url('../assets/icons/youtube.svg');
    }

    &-telegram {
        content: url('../assets/icons/telegram.svg');
    }

    &-gadgets {
        content: url('../assets/icons/gadgets.svg');
    }

    &-money {
        content: url('../assets/icons/money.svg');
    }

    &-security {
        content: url('../assets/icons/security.svg');
    }

    &-interaction {
        content: url('../assets/icons/interaction.svg');
    }

    &-gamification {
        content: url('../assets/icons/gamification.svg');
    }

    &-interaction {
        content: url('../assets/icons/interaction.svg');
    }

    &-nfts {
        content: url('../assets/icons/nfts.svg');
    }

    &-menu {
        content: url('../assets/icons/menu.svg');
    }

    &-close {
        content: url('../assets/icons/close.svg');
    }
}
