@import 'feature-advantages';

.marketplace-feature {
    display: flex;
    padding: 80px 60px;

    &__description {
        margin-right: auto;
        width: 360px;
    }

    &__text {
        p {
            margin-top: 0;
            margin-bottom: 20px;
            font: var(--base-font);
        }
    }

    &__image {
        object-fit: cover;
        width: 400px;
    }
}
