.navigation {
    z-index: 999;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

    &--burger {
        visibility: hidden;

        &-active {
            visibility: visible;

            .navigation__close,
            .navigation__logo,
            .header__logo {
                display: block;
            }
        }
    }

    &__logo {
        width: 80px;
        height: 80px;
        object-fit: cover;
        display: none;
    }

    &__open,
    &__close {
        background-color: initial;
        border: none;
        background-size: cover;
        top: 20px;
        height: 34px;
        position: absolute;
        width: 34px;
        left: 20px;
        display: none;
    }

    &__open {
        background-image: url('../assets/icons/menu.svg');
    }

    &__close {
        background-image: url('../assets/icons/close.svg');
    }

    &__link {
        font: var(--navigation-font);
        color: var(--dark-color);
        text-decoration: none;

        &--active {
            color: var(--accent-color);
            text-decoration: underline;
        }

        &:not(:last-of-type) {
            margin-right: 40px;
        }
    }

    &__footer {
        display: none;
        flex-direction: column;
        gap: 30px;
    }
}
