.navigation {
    display: flex;
    justify-content: center;

    &__link {
        font: var(--navigation-font);
        color: var(--dark-color);
        text-decoration: none;

        &--active {
            color: var(--accent-color);
            text-decoration: underline;
        }

        &:not(:last-of-type) {
            margin-right: 40px;
        }
    }
}
