@import 'feature-advantages';

.product-feature {
    display: flex;
    padding-bottom: 62px;
    padding-right: 60px;
    justify-content: space-between;
    align-items: center;

    &__description {
        width: 420px;
    }

    &__text {
        p {
            margin-top: 0;
            margin-bottom: 20px;
            font: var(--base-font);
        }
    }

    &__image {
        object-fit: cover;
        width: 540px;
        height: 580px;
    }
}
