.social-list {
    display: inline-flex;
    padding-left: 0;
    margin-top: 15px;
    margin-bottom: 0;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;

    &__item {
        &:not(:first-of-type) {
            margin-left: 20px;
        }
    }

    &__link {
        text-decoration: none;
        display: inline-block;
        line-height: 1;
        color: var(--accent-color);
    }
}
