@import '../mixins';

.brief {
    height: 526px;
    
    &__container {
        position: relative;
        display: flex;
        height: 100%;
        background-color: #131313;
    }

    &__title {
        color: var(--accent-color);
    }

    &__description {
        top: 0;
        left: 0;
        position: absolute;
        z-index: 2;
        box-sizing: border-box;
        max-width: 432px;
        padding: 80px 12px 80px 60px;
    }

    &__text {
        margin-top: 40px;
        margin-bottom: 40px;

        p {
            margin-top: 0;
            margin-bottom: 0;
            font: var(--base-font);
            color: var(--contrast-light-color);
            line-height: 20px;

            &:not(:last-of-type) {
                margin-bottom: 20px;
            }
        }
    }

    &__panel {
        display: flex;
        align-items: center;

        > *:first-of-type {
            margin-right: 42px;
        }
    }

    &__image {
        height: 100%;
        position: relative;
        z-index: 1;
        width: 698px;
        background-image: url('/assets/images/brief.jpg');
        background-size: 100%;
        margin-left: auto;
        background-repeat: no-repeat
    }

    .whitepaper-button {
        @include button(false, var(--accent-color));
    }

    .ico-reg-button {
        @include button(true, var(--dark-color), var(--accent-color));
    }
}
