@import '../components/navigation';
@import '../components/login-button';
@import '../components/language-select';

.header {
    height: 700px;
    background-image: url('../assets/images/header.jpg');
    background-size: cover;

    &__panel {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 20px;
        margin-bottom: 40px;
    }

    &__logo {
        height: 80px;
        width: 80px;
        object-fit: cover;
    }
}
