@import '../components/navigation';
@import '../components/login-button';
@import '../components/change-lang-select';

.header {
    height: 700px;
    background-color: #ccc;

    &__panel {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    &__logo {
        height: 80px;
        width: 80px;
        object-fit: cover;
    }
}
