@import '../components/navigation';
@import '../components/login-button';
@import '../components/language-select';

.header {
    height: 602px;

    &__container {
        box-sizing: border-box;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 20px;
    }

    &__panel {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 40px;
    }

    &__logo {
        height: 80px;
        width: 80px;
        object-fit: cover;
    }
}
