@import '../components/platform-feature';
@import '../components/marketplace-feature';
@import '../components/product-feature';

.platform-description {
    &__container {
        background-color: var(--cold-color);
    }

    &__divider {
        height: 1px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba($color: var(--accent-color-rgb), $alpha: 0.3);
    }
}
