@import '../components/statistic-table';
@import '../components/prices-table';
@import '../components/chart';
@import '../components/roadmap';

.statistic {
    margin-top: 80px;
    margin-bottom: 80px;

    &__container {
        padding-left: 50px;
        padding-right: 50px;
    }

    &__title {
        text-align: center;
        color: var(--accent-color);
    }

    &__text {
        p {
            font: var(--base-font);
            width: 600px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;

            &:not(:last-of-type) {
                margin-bottom: 20px;
            }
        }
    }
}
