:root {
    --base-font-family: 'Montserrat', sans-serif;

    --title-font: 500 var(--base-font-family) 20px;
    --base-font: 400 var(--base-font-family) 15px;
    --navigation-font: 700 var(--base-font-family) 14px;
    --button-font: 700 var(--base-font-family) 14px;

    --accent-color: #c4ac54;
    --light-accent-color: #ece4c7;
    --warm-color: #f9f6ed;
    --cold-color: #f0f6f9;
    --light-color: #343536;
    --contrast-light-color: #fff;
    --dark-color: #000;
}

$breakpoint-xxl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
